{% extends 'base/layout.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class='m-4 text-warning text-center border-bottom border-white'><strong>Applying for a credit</strong></h1>
        <section class="mt-2 bg-dark text-warning rounded-3 p-3 border border-white">
            <div class="text-center"><h3><strong>Please check all details before submitting your credit</strong></h3></div>
            <div class="user-data-from fs-5">
                <div>
                    <span class="text-white">Given name: </span><strong>{{user.given_name}}</strong>
                </div>
                <div>
                    <span class="text-white">Father name: </span><strong>{{user.father_name}}</strong>
                </div>
                <div>
                    <span class="text-white">Surname: </span><strong>{{user.surname}}</strong>
                </div>
                <div>
                    <span class="text-white">Telephone number: </span><strong>+{{user.phone_number}}</strong>
                </div>
                <div>
                    <span class="text-white">Password number: </span><strong>{{user.passport_number}}</strong>
                </div>
                <div>
                    <span class="text-white">Identification number: </span><strong>{{user.identification_number}}</strong>
                </div>
            </div>
            <form action="{% url 'calculate_credit_dates' %}" method="post">
                {% csrf_token %}
                <div class="credit-block mt-4">
                    <label for="creditSumRange" class="form-label h5"><strong>Amount of credit (BYN)</strong></label>
                    <input type="range" class="form-range" min="1000" max="100000" step="500" id="creditSumRange" value="2000">
                    <ul class="d-flex justify-content-between list-style-type-none p-0 fs-6">
                        <li class="text-white">1000 BYN</li>
                        <li class="text-white">50000 BYN</li>
                        <li class="text-white">100000 BYN</li>
                    </ul>
                    <input class="form-control fw-bold fs-4" type="number" min="1000" step="100" max="100000" value="2000" name="credit_sum" id="creditSumInput">
                </div>
                <div class="term-block mt-4">
                    <label for="creditTermRange" class="form-label h5"><strong>Credit sum (months)</strong></label>
                    <input type="range" class="form-range" min="6" max="120" step="1" id="creditTermRange" value="12">
                    <ul class="d-flex justify-content-between list-style-type-none p-0 fs-6">
                        <li class="text-white">6 month</li>
                        <li class="text-white">60 month</li>
                        <li class="text-white">120 month</li>
                    </ul>
                    <input class="form-control fw-bold fs-4" type="number" min="6" step="1" max="120" value="12" name="credit_term" id="creditTermInput">
                </div>
                <div class="interest-rate-block mt-4">
                    <label for="creditInterestRateRange" class="form-label h5"><strong>Interest rate (%)</strong></label>
                    <input type="range" class="form-range" min="5" max="30" step="1" id="creditInterestRateRange" value="12">
                    <ul class="d-flex justify-content-between list-style-type-none p-0 fs-6">
                        <li class="text-white">5 %</li>
                        <li class="text-white">15 %</li>
                        <li class="text-white">30 %</li>
                    </ul>
                    <input class="form-control fw-bold fs-4" type="number" min="1" step="0.5" max="31" value="12" name="credit_interest_rate" id="creditInterestRateInput">
                </div>
                <div class="result-block mt-4">
                    <span class="form-label h3"><strong class="text-white">Monthly payment:</strong></span>
                    <span class="form-label h2"><strong id="resultMonthlyPayment"></strong></span>
                    <input type="hidden" id="resultMonthlyPaymentInput" name="monthly_payment" value="">
                </div>
                <input type="submit" class="form-control btn btn-outline-warning mt-4" value="Submit a credit application">
            </form>
        </section>
    {% endif %}
{% endblock %}

{% block script %}
    <script>

        let creditSumRange = document.querySelector('#creditSumRange');
        let creditSumInput = document.querySelector('#creditSumInput');

        creditSumInput.addEventListener('input', (event) => {
            creditSumRange.value = creditSumInput.value;
            calculateMonthlyPayment();
        });

        creditSumRange.addEventListener('input', (event) => {
            creditSumInput.value = event.target.value;
            calculateMonthlyPayment();
        });

        let creditTermRange = document.querySelector('#creditTermRange');
        let creditTermInput = document.querySelector('#creditTermInput');

        creditTermInput.addEventListener('input', (event) => {
            creditTermRange.value = creditTermInput.value;
            calculateMonthlyPayment();
        });

        creditTermRange.addEventListener('input', (event) => {
            creditTermInput.value = event.target.value;
            calculateMonthlyPayment();
        });

        
        let creditInterestRateRange = document.querySelector('#creditInterestRateRange');
        let creditInterestRateInput = document.querySelector('#creditInterestRateInput');

        creditInterestRateInput.addEventListener('input', (event) => {
            creditInterestRateRange.value = creditInterestRateInput.value;
            calculateMonthlyPayment();
        });

        creditInterestRateRange.addEventListener('input', (event) => {
            creditInterestRateInput.value = event.target.value;
            calculateMonthlyPayment();
        });

        
        let resultMonthlyPayment = document.querySelector('#resultMonthlyPayment');
        
        let creditSum, interestRate, creditTerm;
        
        function calculateMonthlyPayment() {
            
            creditSum = Number(creditSumInput.value);
            interestRate = Number(creditInterestRateInput.value);
            creditTerm = Number(creditTermInput.value);
            monthlyInterestRate = interestRate / (100 * 12);

            monthlyPayment = creditSum * (monthlyInterestRate / (1 - (1 + monthlyInterestRate) ** (-creditTerm)));
            monthlyPayment = Math.round(monthlyPayment * 100) / 100;
            resultMonthlyPayment.textContent = monthlyPayment.toFixed(2) + " BYN";
            resultMonthlyPaymentInput.value = monthlyPayment.toFixed(2)
        }

        calculateMonthlyPayment();

    </script>
{% endblock %}